<% if !@active_listings.empty? %>
  <h1>Active Listings</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Delivery time</th>
        <th>Active</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "listing", collection: @active_listings %>
    </tbody>
  </table>
<% end %>

<br>

<% if !@inactive_listings.empty? %>
<h1>Inactive Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Delivery time</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "listing", collection: @inactive_listings %>
  </tbody>
</table>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>
