<div class="section">
  <div class="columns">
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
      <h1>Editing Education</h1>

      <%= render 'form', education: @education %>

      <%= link_to 'Show', [@user, @education] %> |
      <%= link_to 'Back', user_profile_path(@user) %>
    </div>
    <div class="column is-one-third"></div>
  </div>
</div>
