<tr>
  <td><%= review.rating %></td>
  <td><%= review.description %></td>
  <td><%= "#{review.review_poster.first_name} #{review.review_poster.middle_name[0]}. #{review.review_poster.last_name}" %></td>
</tr>

