<div class="column">
  <h1 class="title listings-title">Your Favourites</h1>
  <% if !@favorites.empty? %>
    <div class="container">
      <div class="columns is-multiline">
        <%= render partial: "favorite", collection: @favorites %>  
      </div>
    <% else %>
      <h1>You do not have any favorites</h1>
    <% end %>
  </div>
</div>