<div class="column">
  <div class="title">Your Active Listings</div>

  <% if !@active_listings.empty? %>

    <table class="table is-hoverable">
      <thead>
        <tr>
          <td>Title</td>
          <td>Category</td>
          <td>Description</td>
          <td>Price</td>
          <td>Delivery Time</td>
          <td>Admin</td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "listing", collection: @active_listings %>
      </tbody>
    </table>

  <% end %>

  <div class="title">Your Inactive Listings</div>

  <% if !@inactive_listings.empty? %>
    <table class="table is-hoverable">
      <thead>
        <tr>
          <td>Title</td>
          <td>Category</td>
          <td>Description</td>
          <td>Price</td>
          <td>Delivery Time</td>
          <td>Admin</td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "listing", collection: @inactive_listings %>
      </tbody>
    </table>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to '+ New Listing', new_listing_path %>
  <% end %>
</div>
