<div class="column">
  <div class="title">Your Reviews</div>

  <% if @reviews.empty? %>
    <h4 class="title">You do not have any reviews</h4>
  <% else %>

    <table class="table is-hoverable">
      <thead>
        <tr>
          <td>Rating</td>
          <td>Description</td>
          <td>Left By</td>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "review", collection: @reviews %>
      </tbody>
    </table>

  <% end %>

  </div>
</div>