<h1 class="title listings-title">Listings</h1>

<div class="listings-container">
  <div class="columns is-multiline is-variable is-8">
    <%= render @listings %>  
  </div>
</div>

<div class="paginate-container">
  <%= will_paginate @listings, renderer: BulmaPagination::Rails %>
</div>