<h1 class="title listings-title">Your Favourites</h1>

<div class="listings-container">
  <div class="columns is-multiline is-variable is-8">
    <% if @favorites %>
      <%= render partial: "favorite", collection: @favorites %>  
    <% else %>
      <%= render html: "<h1>You do not have any favorites</h1>" %>
    <% end %>
  </div>
</div>