<% content_for :content do %>

    <div class="columns">
      <div class="column is-narrow">
        <%= render "shared/dashboard_menu" %>
      </div>
    <div class="section">
      <div class="box">
        <%= content_for?(:dashboard_content) ? yield(:dashboard_content) : yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>